@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

.slick-prev::before {
  color: #4c6593 !important;
}

.slick-next::before {
  color: #4c6593 !important;
}
